body {
  background: rgba(245, 245, 215, 0.61);
}

input,
button {
  padding: 4px 12px;
  background: #fff;
  border: #666 solid 2px;
  border-radius: 6px;
  font-size: 20px;
  line-height: 1.5;
}

button {
  padding: 4px 24px;
  line-height: 1.5;
  background: rgba(99, 200, 218, 0.9);
  color: white;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: coral;
}
nav.nav ul li {
  display: inline-flex;
  font-size: 24px;
  margin: 0 4px;
}
